@using SwcLmsMastery.Models.DBModels
@using SwcLmsMastery.Repositories
@model IEnumerable<SwcLmsMastery.Models.DBModels.LmsUser>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Jquery")
<script>
    $(function () {
        $('#searchBtn').click(function () {
            var firstName = $('#fNameSearch').val();
            var lastName = $('#lNameSearch').val();
            var email = $('#eMailSearch').val();

            var userObject = {
                FirstName: firstName,
                LastName: lastName,
                Email: email
            };

            $.ajax
             ({
                 type: 'POST',
                 url: '/api/UserSearch',
                 dataType: 'json',
                 contentType: 'application/json; charset=utf-8',
                 data: JSON.stringify(userObject),
                 success: function (data) {
                     $('#userTable').empty();
                     $.each(data, function (i, user) {
                         $('#userTable').append('<div class="col-md-3">' + user.FirstName + '</div>');
                         $('#userTable').append('<div class="col-md-3">' + user.LastName + '</div>');
                         //$('#userTable').append('<div class="col-md-3">' + user.Email + '</div>');
                         //below should concat the e-mail address to a mailto function
                         $('#userTable').append('<div class="col-md-3"><a href="mailto:' + user.Email + '">' + user.Email + '</a></div>');
                         $('#userTable').append('<div class="col-md-3"><a href="@Url.Action("../Manage/UserDetails")/' + user.Id + '">Details</a></div>');
                     });

                     // THIS DOES EXACTLY THE SAME THING AS THE $.each CODE ABOVE
                     //for (var i = 0; i < data.length; i++) {
                     //    var user = data[i];
                     //    $('#userTable').append('<div class="col-md-3"><a href="Account/AuthorizeUser/' + user.Id + '">Authorize</a></div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.FirstName + '</div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.LastName + '</div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.Email + '</div>');
                     //}

                 }
             });
        });
    });
</script>





<h2>User Search</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span>First Name</span>
        </div>
        <div class="col-md-3">
            <span>Last Name</span>
        </div>
        <div class="col-md-3">
            <span>Email</span>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" id="fNameSearch" />
        </div>
        <div class="col-md-3">
            <input type="text" id="lNameSearch" />
        </div>
        <div class="col-md-3">
            <input type="text" id="eMailSearch" />
        </div>
        <div class="col-md-3">
            <span class="btn btn-default" id="searchBtn">Search</span>
        </div>
    </div>
    <hr/>
    <div id="searchTableHeader">
        <div class="row">
            <div class="col-md-3"><span style="font-weight: bold;">First Name: </span></div>
            <div class="col-md-3"><span style="font-weight: bold;">Last Name:</span> </div>
            <div class="col-md-3"><span style="font-weight: bold;">Email Address:</span> </div>
            <div class="col-md-3"></div>
        </div>

    </div>
    <div id="userTable">
        @{
            using (var context = new SWC_LMSEntities())
            {
                foreach (var user in context.LmsUsers) { 
                <div class="row">
                    <div class="col-md-3">@user.FirstName</div>
                    <div class="col-md-3">@user.LastName</div>
                    <div class="col-md-3"><a href="mailto:@user.Email">@user.Email</a>
                    </div>
                    <div class="col-md-3">@Html.ActionLink("Details", "UserDetails", "Manage", new { user.UserId }, null)</div>
            
                    @*<div class="col-md-3">@Html.ActionLink("Details", "UserDetails", "Manage", new { user.UserId }, null)</div>*@
                </div>}
            }
}
        
    </div>
</div>
