

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
<h4>Information</h4>
<div class="container table-bordered" style="border-color: black; border-style: solid; border-radius: 5px;">
    <br />
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Class Name", new { title = "Class Name", @class = "control-label" })<br />
            @Html.TextBox("Clas Name")
        </div>
        <div class="form-group">
            @Html.Label("Suject", new { title = "Subject", @class = "control-label" })<br />
            @Html.TextBox("Subject")
        </div>
        <div class="form-group">
            @Html.Label("Start Date", new {title = "Start Date ", @class = "control-label"})<br/>
            <input type="text" id="#datepicker" name="startdate">
        </div>
        <div class="form-group">
            @Html.Label("End Date", new { title = "End Date ", @class = "control-label" })<br />
            <input type="text" id="#datepicker" name="enddate">
        </div>
        <br />
    </div>
    <div class="col-md-6">
        @Html.Label("Description", new { title = "Description", @class = "control-label" })<br />
        @Html.TextArea("Description")
    </div>
</div>