@using SwcLmsMastery.Models.DBModels
@*<<<<<<< 4c5ba12c01cfc4e8fb159382243584c95e4ec10d*@
@model IEnumerable<SwcLmsMastery.Models.DBModels.LmsUser>

<div align="center">
    <h4>Administrator Dashboard</h4>
    <hr/>
    <p>
        
    </p>
    <table>
        <tr>
            <td>
               


                <a href="@Url.Action("UnassignedUsers", "Home")">
                    <button class="btn btn-primary" type="button">
                        Unassigned Users <span class="badge">
@{ using (var context = new SWC_LMSEntities())
   {
 @context.LmsUsers.Where(x => x.IsApproved == null).Count()
   }
}
                           </span></button>
                        </a>
                        </td>
                        <td>

                            <a href="@Url.Action("UserSearch", "Home")">
                                <button class="btn btn-primary" type="button"> User Search <span class="badge"></span></button>
                            </a>

                        </td>
                        </tr>
                    </table>
=======

<h2 style="color: red">&nbsp;&nbsp;Admin Dashboard</h2>
<h4>&nbsp;&nbsp;&nbsp;Unassigned Users</h4>
<div class="container">
    <table border="0" style="border-width: 3px; border-color:#000000;
border-style: solid;" class="table-striped" width="100%">
        <thead border="0" style="border-width: 3px; border-color:#000000;
border-style: solid; background-color:#191970">
            <tr>
                <td style="border-width: 3px; border-color:#000000; border-style: solid;"><span style="color: white">&nbsp;Last Name</span></td>
                <td style="border-width: 3px; border-color:#000000; border-style: solid;"><span style="color: white">First Name</span></td>
                <td style="border-width: 3px; border-color:#000000; border-style: solid;"><span style="color: white">Email</span></td>
                <td style="border-width: 3px; border-color:#000000; border-style: solid;"><span style="color: white">Suggested Role</span></td>
                <td style="border-width: 3px; border-color:#000000; border-style: solid;"><span style="color: white">User Details</span></td>

            </tr>
        </thead>
        <tbody>
                        @{
                            using (var context = new SWC_LMSEntities())
                            {
                                foreach (var i in context.LmsUsers)
                                {
                                    <tr>
                                        <td>&nbsp;@i.LastName</td>
                                        <td>@i.FirstName</td>
                                        <td><a href="mailto:@i.Email">@i.Email</a></td>
                                        <td>@i.SuggestedRole</td>
                                        <td>@Html.ActionLink("Details", "UserDetails", "Manage", new {i.UserId}, null)</td>

                                    </tr>

                    }
                }

            }
        </tbody>
    </table>
</div>
<hr /><hr />
<h4>User Search</h4>
<div class="container">
    <div class="well">

        @{
            using (var context = new SWC_LMSEntities())
            {


                <div class="row todo-item">
                    <input type="hidden" value="Id" name="Id" />
                    <div class="col-md-2">
                        <input type="text" id="idForLname" name="Lname" value="Last Name" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="idForFname" name="Fname" value="First Name" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="idForemail" name="Email" value="Email" />
                    </div>


                    <div class="col-md-1">
                        <button class="btn btn-default" id="dets" style="background-color: greenyellow;">Search</button>
                    </div>
                </div>
            }
        }

    </div>

    <table class="table-striped" width="100%">
        <thead style="background-color: #191970">
            <tr>
                <td><span style="color: white">&nbsp;Last Name</span></td>
                <td><span style="color: white">First Name</span></td>
                <td><span style="color: white">Email</span></td>
                <td><span style="color: white"></span></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;results</td>
                <td>results</td>
                <td>results</td>
                <td><a href="#deadlink">details</a></td>
            </tr>
        </tbody>
    </table>
</div>
@*>>>>>>> 595a341e2636f88ec8af45c6c431c32decfbf832*@


  
</div>
