@using SwcLmsMastery.Models.DBModels
@model IEnumerable<SwcLmsMastery.Models.DBModels.LmsUser>
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').focus();
    })
</script>

<div align="center">
    <h3>SWC LMS Administrator Dashboard</h3>
    <hr/>
    <p>
        Welcome to the Softwarce Craftsmanship Guild's Learning Management Systems.  From this dashboard console, you have access to the basic site administrator functions.  You also have access to the 'Teacher' role functions via your adminstrator dropdown.
    </p>
    <table>
        <tr>
            <td>

                <!-- Large modal -->
                <a href="@Url.Action("UnassignedUsers", "Home")">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                        Unassigned Users <span class="badge">
                            @{
                                using (var context = new SWC_LMSEntities())
                                {
                                    @context.LmsUsers.Where(x => x.IsApproved == null).Count()
                                }
                            }
                        </span>
                    </button>
                </a>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            
                            <div class="container well modal-header" style="border-color: black; border-style: solid; border-radius: 5px; margin: 25px;">
                                <h4 class="modal-title">
                                    Unnassigned Users <span class="badge">
                                        @{ using (var context = new SWC_LMSEntities())
                                         {
                                            @context.LmsUsers.Where(x => x.IsApproved == null).Count();
                                         }
                                        }
                                    </span>
                                </h4>
                                 <table class="table-striped" width="100%">
                                    <thead style="background-color: #191970">
                                        <tr>
                                            <td><span style="color: white">&nbsp;Last Name</span></td>
                                            <td><span style="color: white">First Name</span></td>
                                            <td><span style="color: white">Email</span></td>
                                            <td><span style="color: white">Suggested Role</span></td>
                                            <td><span style="color: white">Details</span></td>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            using (var context = new SWC_LMSEntities())
                                            {
                                                foreach (var i in context.LmsUsers.Where(x => x.IsApproved == false || x.IsApproved == null))
                                                {
                                                    <tr>
                                                        <td>&nbsp;@i.LastName</td>
                                                        <td>@i.FirstName</td>
                                                        <td><a href="mailto:@i.Email">@i.Email</a></td>
                                                        <td>@i.SuggestedRole</td>
                                                        <td>@Html.ActionLink("Details", "UserDetails", "Manage", new { i.UserId }, null)</td>

                                                    </tr>

                                                }
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


               
            </td>
            <td>

                <a href="@Url.Action("UserSearch", "Home")">
                    <button class="btn btn-primary" type="button"> User Search <span class="badge"></span></button>
                </a>

            </td>
        </tr>
    </table>

</div>
<hr/>
<div align="center" class="container">
    <h3>SWC LMS Teacher Dashboard (Admin Access)</h3>
    <hr />
    <h4><a href="@Url.Action("AddClass", "Home")">Add A Class</a></h4>
    <h4><a href="@Url.Action("Gradebook", "Home")">View the Gradebook</a></h4>

</div>