@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWC LMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

   

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>



            <div class="navbar-collapse collapse">
                @{
                    @Html.AntiForgeryToken()
                    if (User.IsInRole("Administrator"))
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="#"><span class="glyphicon glyphicon-wrench" style="font-family: helvetica, arial; color: red;"></span></a></li>
                            <li>
                                @Html.ActionLink("Hello, Administrator!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:red;" })
                            </li>


                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            
                            <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title ="Admin">Admin<span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="background: #363535; background: rgba(54,53,53,1);
        background: -moz-linear-gradient(top, rgba(54,53,53,1) 0%, rgba(245,12,12,1) 24%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,53,53,1)), color-stop(24%, rgba(245,12,12,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(54,53,53,1) 0%, rgba(245,12,12,1) 24%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(54,53,53,1) 0%, rgba(245,12,12,1) 24%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(54,53,53,1) 0%, rgba(245,12,12,1) 24%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(54,53,53,1) 0%, rgba(245,12,12,1) 24%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363535', endColorstr='#ffffff', GradientType=0 );">
                                            <li><a href="#" style="color: white; font-weight: bold; font-style: oblique;" title ="Admin Tools">Admin Tools:</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li>@Html.ActionLink("Unassigned Users", "UnassignedUsers", "Home", htmlAttributes: new { title = "Unassigned Users" })</li>
                                            <li>@Html.ActionLink("User Search", "UserSearch", "Home", htmlAttributes: new { title = "User Search" })</li>
                                            <li>@Html.ActionLink("Full Dashboard", "Dashboard", "Home", htmlAttributes: new {title = "Full Dashboard"})</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#" style="color: black; font-weight: bold; font-style: oblique;" title="Teacher Tools">Teacher Tools:</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li>@Html.ActionLink("Add A Class (temp)", "AddClass", "Home", htmlAttributes: new { title = "Add A Class" })</li>
                                            <li>@Html.ActionLink("Add Assignment (temp)", "Class", "Home", htmlAttributes: new { title = "View Classes" })</li>
                                            <li>@Html.ActionLink("View Gradebook (temp)", "Gradebook", "Home", htmlAttributes: new { title = "View Gradebook" })</li>
                                               </ul>
                                    </li>
                        </ul>
                        //
                        <div>
                            @{ using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", title = "LogOff", @class = "navbar-right" }))
                             {
                                @Html.AntiForgeryToken()
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                             }
                            }
                        </div>
                        //==
                    }
                    else if (User.IsInRole("Teacher"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("Account", "Index", "Manage")</li>
                            
                        </ul>
                        @Html.Partial("_LoginPartial")
                    }
                    else if (User.IsInRole("Student"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("Account", "Index", "Manage")</li>
                            <li><a href="#"><span class="glyphicon glyphicon-apple" style="font-family: helvetica, arial; color: yellow;">Student</span></a></li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    }
                    else if (User.IsInRole("Parent"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("Account", "Index", "Manage")</li>
                            <li><a href="#"><span class="glyphicon glyphicon-piggy-bank" style="font-family: helvetica, arial; color: yellowgreen;">Parent</span></a></li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    }
                    else
                    {

                            @Html.ActionLink("Software Craftsmanship Guild LMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    }   
}
            </div>



        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        @{
            if (User.IsInRole("Administrator"))
            {
                <div class="row col-sm-12 container well-sm" id="accordion" style="background-color: black;">
                    <div align="left" class="col-sm-6">
                        <span style="color: red; font-weight: bold;">Logged in as Administrator</span>
                    </div>
                    <div align="right" class="col-sm-6">
                        <span style="color: whitesmoke"> &copy; @DateTime.Now.Year - JonatHelge Enterprises</span>
                    </div>
                </div>
            }
            else if (User.IsInRole("Teacher"))
            {

                <div class="row col-sm-12 container well-sm" id="accordion" style="background-color: black;">
                    <div align="left" class="col-sm-6">
                        <span style="color: orangered; font-weight: bold;">Logged in as Teacher</span>
                    </div>
                    <div align="right" class="col-sm-6">
                        <span style="color: whitesmoke"> &copy; @DateTime.Now.Year - JonatHelge Enterprises</span>
                    </div>
                </div>
            }
            else if (User.IsInRole("Student"))
            {
                <div class="row col-sm-12 container well-sm" id="accordion" style="background-color: black;">
                    <div align="left" class="col-sm-6">
                        <span style="color: yellow; font-weight: bold;">Logged in as Student</span>
                    </div>
                    <div align="right" class="col-sm-6">
                        <span style="color: whitesmoke"> &copy; @DateTime.Now.Year - JonatHelge Enterprises</span>
                    </div>
                </div>
            }
            else if (User.IsInRole("Parent"))
            {
                <div class="row col-sm-12 container well-sm" id="accordion" style="background-color: black;">
                    <div align="left" class="col-sm-6">
                        <span style="color: yellowgreen; font-weight: bold;">Logged in as a Parent</span>
                    </div>
                    <div align="right" class="col-sm-6">
                        <span style="color: whitesmoke"> &copy; @DateTime.Now.Year - JonatHelge Enterprises</span>
                    </div>
                </div>
            }
            else
            {
                <div class="row col-sm-12 container well-sm" id="accordion" style="background-color: black;">
                    <div align="left" class="col-sm-6">
                        
                        <span style="color: lightblue; font-weight: bold;"></span>
                    </div>
                    <div align="right" class="col-sm-6">
                        <span style="color: whitesmoke"> &copy; @DateTime.Now.Year - JonatHelge Enterprises</span>
                    </div>
                </div>
            }
}

    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


@*@section Scripts{
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    }
    @RenderSection("scripts", required: false)*@

</body>
</html>
