
@using SwcLmsMastery.Models
@using SwcLmsMastery.Models.DBModels
@model SwcLmsMastery.Models.RegisterViewModel

<style>
    fieldset {
        border: 0;
    }

    label {
        display: block;
        margin: 30px 0 0 0;
    }

    select {
        width: 200px;
    }

    .overflow {
        height: 200px;
    }
</style>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 align ="center">New User? Register Now!</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="well">
        <div class="form-group">
            @Html.LabelFor(m => m.Fname, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Fname, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Lname, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Lname, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
                @ Html.LabelFor(m => m.SuggestedRole, new {@class = "col-md-3 control-label"})
                <div class="col-md-9">
                    @ Html.TextBoxFor(m => m.SuggestedRole, new {@class = "form-control"})
                </div>
            </div>
        *@
        <div class="form-group">
            @Html.LabelFor(m => m.SuggestedRole, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.SuggestedRole, RegisterViewModel.RolesList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GradeLevelId, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.GradeLevelId, ViewBag.Grades as List<SelectListItem>)

            </div>
        </div>

        <div class="hidden">
            @Html.CheckBoxFor(m => m.IsApproved, new { @class = "col-md-3 control-label"})
        </div>


        @*<div class="form-group">
                @Html.LabelFor(m => m.SuggestedRole, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <select name="USER" id="USER">
                        <option value="Parent">Parent</option>
                        <option value="Teacher">Teacher</option>
                        <option selected="selected" value="Student">Student</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.GradeLevelId, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <select name="number" id="number">
                        <option selected="selected" value="k">K</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>*@




        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/bootstrap")

            $(function () {
            $("#USER").selectmenu();

            $("#number")
            .selectmenu()
            .selectmenu("menuWidget")
            .addClass("overflow");
            });
        }


