
@using System.Activities.Statements
@using SwcLmsMastery.Models.DBModels
@using SwcLmsMastery.Repositories
@model SwcLmsMastery.Models.LmsUserViewModel


<h2>User Details</h2>
@using (Html.BeginForm("SaveUserDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1>@ViewBag.Message</h1>
    <div class="well">
        @Html.HiddenFor(m => m.UserId, Model.UserId)
        <div class="form-group">
            @Html.Label("First Name", new { title = "First Name", @class = "control-label" })
            @Html.TextBoxFor(m => m.FirstName, Model.FirstName, new { title = "First Name", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Last Name", new { title = "Last Name", @class = "control-label" })
            @Html.TextBoxFor(m => m.LastName, Model.LastName, new { title = "Last Name", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Grade Level", new { title = "Grade Level", @class = "control-label" })
            @Html.DropDownListFor(m => m.GradeLevelId, TheOneRepo.GetGradeLevels)
        </div>
        <div class="form-group">
            @Html.Label("Roles", new { title = "Roles", @class = "control-label" })
            <br />
            @Html.CheckBox("Admin")<br/>
            @Html.CheckBox("Admin")<br/>
            @Html.CheckBox("Admin")<br/>
            @Html.CheckBox("Admin")<br/>
            <div>
                <input type="button" class="btn btn-default" value="Cancel" title="Click to Cancel" onclick="window.location = '/home/dashboard'" />
                <input type="submit" class="btn btn-default" value="Save" title="Click to Save" />
            </div>
        </div>

    </div>
}