@model SwcLmsMastery.Models.DBModels.Course

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
    }

<h2>Add a new Class</h2>

<br/>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    }
    );
</script>


<div class="row container table-bordered col-md-8" style="border-radius: 5px; border-color: black; border-width: 2px;">
    <br/>
    <h4>Information</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td style="width: 50%; vertical-align: top">
                    <div class="form-horizontal" style="margin-left: 10px">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Class Name")<br />

                            @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Subject")<br />
                            @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Start Date")
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    <div class="form-group">
                        @Html.Label("End Date")
                        @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", @id = "datepicker2"}})
                        @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                    </div>
                        </div>
                </td>
                
                <td style="width: 50%; vertical-align: top">
                    <div class="form-horizontal" style="margin-left: 75px">
                        <div class="form-group">
                            @Html.Label("Grade Level")

                            @Html.EditorFor(model => model.GradeLevel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GradeLevel, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.Label("Archive")
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsArchived)
                                @Html.ValidationMessageFor(model => model.IsArchived, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <hr />
                        <div class="form-group">
                            @Html.Label("Description")
                            <br/>
                            @Html.TextAreaFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })

                        </div>

                    </div>


                </td>
            </tr>
        </table>

        <hr/>
        <div class="form-group">
            <a href="@Url.Action("Dashboard", "Home")">

            <input type="cancel" value="Cancel" class="btn btn-default"/>
                </a>
                <input type="submit" value="Create" class="btn btn-primary" />

</div>



    }
</div>
<Br/>
@*<div class="container table-bordered col-md-3" style="border-radius: 5px; border-color: black; border-width: 2px; margin-left: 10px">
    <br />
    <h4>Analytics</h4>
    <hr />
</div>
<hr/>*@

